html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full screen base */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* React root */
#root {
  min-height: 100vh;
  width: 100%;
}


